{% extends 'base.html' %}
{% block site_content %}
    {% if can_delete %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Are you sure you want to delete {{ blog.name }}?</h1>
                <div class="m-auto d-flex justify-content-center">
                    <div class="m-2">
                        <form method="post" action="{% url 'delete blog' blog.id %}">{% csrf_token %}
                            {% csrf_token %}
                            <button class="btn btn-danger">
                                Confirm
                            </button>
                        </form>
                    </div>
                    <div class="m-2">
                        <a class="btn btn-primary" href="javascript:history.back()">No, go back</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>This page not available ! </h1>
                <a class="btn btn-success" href="javascript:history.back()"> Back </a>
            </div>
        </div>

    {% endif %}
{% endblock %}

{#{% extends 'base.html' %}#}
{##}
{#{% block site_content %}#}
{#    <form method="post">{% csrf_token %}#}
{#        <p>Are you sure you want to delete "{{ object }}"?</p>#}
{#        <input type="submit" value="Confirm">#}
{#    </form>#}
{#{% endblock %}#}