{% extends 'base.html' %}
{% block site_content %}
    {% if can_delete %}
        <a href="{% url 'delete blog' blog.id %}" class="btn btn-danger">Delete Blog</a>
    {% endif %}
    {% if post %}
        <a href="{% url 'create post' %}" class="btn btn-success">Create post</a>
        <h2 class='text-center'>All post's in {{ blog.name }}</h2>
        <div class="row">
            <div class="row">
                {% for x in post %}
                    <div class="col-lg-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ x.title }} </h5>
                                <p class="card-text">{{ x.text }}</p>
                                <p class="card-text"><strong> Owner: {{ x.user }}</strong></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="text-center">
            <h2>Don't have post's ! </h2>
            <a href="{% url 'create post' %}" class="btn btn-success">Create post</a>
        </div>
    {% endif %}
{% endblock %}