{% extends 'base.html' %}

{% block site_content %}
    {% if current_profile %}
        <div class="text-center">
            <h1>{{ profile.username }}'s Profile !</h1>
            {% if profile.profile_picture %}
                <img class="" src="{{ profile.profile_picture }}" alt="Generic placeholder image"
                     width="140px"
                     height="140px">
            {% else %}
                <img class="rounded-circle mb-3" src="https://afribary.com/authors/anonymous-user/photo"
                     alt="Generic placeholder image" width="140"
                     height="140">
            {% endif %}
        <hr>
        {% if blog %}
            <h2 class='text-center'>These are {{ profile.username }}'s Blogs</h2>
            <div class="row">
                <div class="row">
                    {% for x in blog %}
                        <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ x.name }} </h5>
                                    <a href="{% url 'blog details' x.pk %}">See Details </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="text-center">
                <h2>You have no blogs</h2>
                <a href="{% url 'create blog' %}" class="btn btn-success">Add Blog</a>
            </div>
        {% endif %}
    {% else %}
        <div class="text-center">
            <h1>Hello, {{ profile.username }}!</h1>
            <h5>This is your profile</h5>
            {% if profile.profile_picture %}
                <img class="" src="{{ profile.profile_picture }}" alt="Generic placeholder image"
                     width="140px"
                     height="140px">
            {% else %}
                <img class="rounded-circle mb-3" src="https://afribary.com/authors/anonymous-user/photo"
                     alt="Generic placeholder image" width="140"
                     height="140">
            {% endif %}
            <div class="w-50 m-auto">
                <form action="{% url 'current user profile' %}" method="post" enctype="multipart/form-data">
                    {{ form }}
                    {% csrf_token %}
                    <button class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
        <hr>
        {% if blog %}
            <h2 class='text-center'>These are you'r Blogs</h2>
            <div class="row">
                <div class="row">
                    {% for x in blog %}
                        <div class="col-lg-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ x.name }} </h5>
                                    <a href="{% url 'blog details' x.pk %}">See Details </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="text-center">
                <h2>You have no blogs</h2>
                <a href="{% url 'create blog' %}" class="btn btn-success">Add Blog</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}