{% extends 'base.html' %}
{% block site_content %}
    <h1 class='text-center'>All Blogs</h1>
    <div class="container">
        <div class="row">
            {% for blog in blog_list %}
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text">Owner: <a href="{% url 'user profile' blog.user.user_id %}"  >{{ blog.user }}</a> </h5>
                            <h5 class="card-text">{{ blog.name }}</h5>
                            <a href="{% url 'blog details' blog.id %}">See Details </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
