{% extends 'base.html' %}
{% block site_content %}
    <h1 class='text-center'>All Blogs</h1>
    <div class="container">
        <div class="row">
            {% for blog in blog_list %}
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-text"><a style="text-decoration: none; color: #ff0000"
                                                     href="{% url 'blog details' blog.id %}"> {{ blog }}</a>
                            </h5>
                            <h5 class="card-text" style="text-decoration: none">Owner: <a
                                    style="color: darkseagreen; text-decoration: none"
                                    href="{% url 'user profile' blog.user.user_id %}">{{ blog.user }}</a></h5>
                        </div>
                        {% if blog.picture %}
                            <img src="{{ blog.picture.url }}" alt="Image" class="card-img-top">
                        {% else %}
                            NOT PICTURE :)
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}